{% extends 'base1.html' %}
{% load static %}
{% block title %}Chi tiết khách sạn{% endblock %}
{% block css %}
    <style>
      button:hover {
        background: #FF4A52;
      }
    </style>
{% endblock %}

{% block content%}
  <br><br>

  <section class="section doctor-single">
    {% for item in detail %}
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="doctor-img-block">
            <img src="/media/{{item.imga}}" alt="" class="img-fluid w-100">
            <div class="info-block mt-4">
              <h4 class="mb-0"><b>Phòng:</b> {{item.room_name}}</h4>
            </div>
          </div>
        </div>
  
        <div class="col-lg-8 col-md-6">
          <div class="doctor-details mt-4 mt-lg-0">
            <h2 class="text-md" style="color: #e12454">{{item.hotel_name}}</h2>
            <p class="starr mb-2">
              <span id="x-star" class="numstar" style="display: none">{{item.star}}</span>
            </p>
            <div class="divider my-4"></div>
            <p><b>Địa chỉ: </b>{{item.address}}</p>
            <p><b>Số điện thoại liên hệ: </b>{{item.phone}}</p>
            <p><b>Ngày đặt: </b>{{item.book_day}}</p>
            <p><b>Ngày nhận phòng: </b>{{item.check_in}}</p>
            <p><b>Ngày trả phòng: </b>{{item.check_out}}</p>
            <p><b>Số lượng: </b>{{item.quanti}}</p>
            <p><b>Phương thức thanh toán: </b>{{item.pay}}</p>
            <h4><b>Thành tiền: </b><span style="color: #FF4A52">${{item.total_price}}</span></h4>
  
            <a href="/hotel/detail/{{item.hotel_id}}" class="btn btn-main-2 btn-round-full mt-3">Đặt lại<i class="icofont-simple-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock %}

{% block js %}
<script>
  function pstar(){
    var objects = document.querySelectorAll('.starr')
    var star=''
    for (i=0; i < objects.length; i++){
      var numstar = parseInt(objects[i].querySelector('.numstar').innerHTML)
      for (j=0; j < numstar; j++){
        star = star + '<span class="star1 fa fa-star text-warning"></span>'
      }
      objects[i].innerHTML = star
      star =''
    }
  }
</script>
{% endblock %}