{% extends 'base1.html' %}
{% block title %}Cập nhật thành công{% endblock %}
{% block content%}
  <br><br><br><br><br><br>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="confirmation-content text-center">
              <i class="far fa-check-circle text-lg" style="color: #ff5f13; font-size: 50px;"></i>
                <h2 class="mt-3 mb-4" style="font-size: 44px; font-weight: 700; color: #222">Cập nhật trang cá nhân thành công !!!</h2>
                <h5 class="mt-3">Khám phá và trải nghiệm cùng NaPun nào</h5>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
