{% extends 'base1.html' %}
{% load static %}
{% block title %}NAPUN{% endblock %}
{% block content %}
        <div class="slider_area">
            <div class="slider_active owl-carousel">
                <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/slider/dulich.jpg' %});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-md-12"></div>
                        </div>
                    </div>
                </div>
                <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/slider/vungtau.jpg' %});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-md-12">
                                <div class="slider_text text-center">
                                    <h3>Vũng Tàu</h3>
                                    <p>Vũng Tàu mang trong mình đầy đủ cảnh sắc của núi trời, non nước</p>
                                    <a href="{% url 'cn_vungtau' %}" class="boxed-btn">Khám phá</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/slider/hue.jpg' %});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-md-12">
                                <div class="slider_text text-center">
                                    <h3>Huế</h3>
                                    <p style="text-align: center !important;">Thành phố Huế mộng, mơ đậm đà bản sắc dân tộc</p>
                                    <a href="{% url 'cn_hue' %}" class="boxed-btn">Khám phá</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/slider/sapa.jpg' %});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-md-12">
                                <div class="slider_text text-center">
                                    <h3>Lào Cai</h3>
                                    <p style="text-align: center !important;">Đồi núi cao với những thửa ruộng bậc thang tuyệt đẹp</p>
                                    <a href="{% url 'cn_laocai' %}" class="boxed-btn">Khám phá</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/slider/hanoi.png' %});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-md-12">
                                <div class="slider_text text-center">
                                    <h3>Hà Nội</h3>
                                    <p style="text-align: center !important;">Hà Nội, thủ đô của Việt Nam, nổi tiếng với kiến trúc trăm tuổi và nền văn hóa phong phú</p>
                                    <a href="{% url 'cn_hanoi' %}" class="boxed-btn">Khám phá</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_slider  d-flex align-items-center" style="background-image: url({% static 'img/slider/khachsan.jpg' %});">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-12 col-md-12">
                                <div class="slider_text text-center">
                                    <h3>Khách sạn</h3>
                                    <p style="text-align: center !important;">Thỏa sức khám phá - không lo về chỗ nghỉ</p>
                                    <a href="{% url 'hotel' %}" class="boxed-btn">Đặt ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="max-width: 1080px;">
            <div class="notif">
                <div class="notif_list">
                    <span class="text-uppercase notif_title">
                        <b>NAPUN: </b>
                    </span>
                    <span class="notif_content slide100-txt" data-in="fadeInDown" data-out="fadeOutDown">
                        <span class="notif_conntent_items slide100-txt-item animated visible-false" style="color: #666699;">
                            Người Việt Nam đi khắp Việt Nam
                        </span>

                        <span class="notif_conntent_items slide100-txt-item animated visible-false" style="color: #666699;">
                            Khách sạn muôn nơi, thả ga lựa chọn
                        </span>

                        <span class="notif_conntent_items slide100-txt-item animated visible-false" style="color: #666699;">
                            Thỏa sức khám phá chẳng ngại âu lo
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid py-3">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0 h3">Khách sạn</h3>
                    <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'hotel' %}">Xem thêm</a>
                </div>
                <div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
                    <div class="position-relative overflow-hidden zoom" style="height: 300px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/feature/vungtau.jpg' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <a class="h5 m-0 text-white" href="{% url 'hotel' %}">Vũng Tàu</a>
                            <div class="mb-1" style="font-size: 13px; padding-top: 10px;">
                                <a class="text-white" >Hải sản, Đi dạo trên biển, Thư giãn, Tắm biển</a>
                            </div>
                            <a class="h5 m-0 text-white"><span id="ks">373</span> khách sạn</a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden zoom" style="height: 300px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/feature/hue.jpg' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <a class="h5 m-0 text-white" href="{% url 'hotel' %}">Huế</a>
                            <div class="mb-1" style="font-size: 13px; padding-top: 10px;">
                                <a class="text-white" >Lịch sử, Địa danh cổ đại, Ngắm cảnh</a>
                            </div>
                            <a class="h5 m-0 text-white"><span id="ks">179</span> khách sạn</a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden zoom" style="height: 300px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/feature/hanoi.jpg' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <a class="h5 m-0 text-white" href="{% url 'hotel' %}">Hà Nội</a>
                            <div class="mb-1" style="font-size: 13px; padding-top: 10px;">
                                <a class="text-white" >Ẩm thực đường phố, Phố Cổ, Văn hóa</a>
                            </div>
                            <a class="h5 m-0 text-white"><span id="ks">1065 khách sạn</span></a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden zoom" style="height: 300px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/feature/dalat.jpg' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <a class="h5 m-0 text-white" href="{% url 'hotel' %}">Đà Lạt</a>
                            <div class="mb-1" style="font-size: 13px; padding-top: 10px;">
                                <a class="text-white" >Không khí trong lành, Phong cảnh, Thiên nhiên</a>
                            </div>
                            <a class="h5 m-0 text-white"><span id="ks">770 khách sạn</span></a>
                        </div>
                    </div>
                    <div class="position-relative overflow-hidden zoom" style="height: 300px;">
                        <img class="img-fluid w-100 h-100" src="{% static 'img/feature/danang.jpg' %}" style="object-fit: cover;">
                        <div class="overlay">
                            <a class="h5 m-0 text-white" href="{% url 'hotel' %}">Đà Nẵng</a>
                            <div class="mb-1" style="font-size: 13px; padding-top: 10px;">
                                <a class="text-white" >Biển, Thư giãn, Người dân, thân thiện</a>
                            </div>
                            <a class="h5 m-0 text-white"><span id="ks">862 khách sạn</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                    <h3 class="m-0 h3">Cẩm nang du lịch</h3>
                                    <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'cn_detail' %}">Xem tất cả</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {% for l in right1 %}
                                <div class="position-relative mb-3 haha">
                                    <a href="{{l.link}}"><img class="img-fluid w-100" src="/media/{{l.bg}}" style="object-fit: cover;"></a>
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h4" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <p class="m-0">{{l.description}}</p>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                {% for l in right2 %}
                                <div class="d-flex mb-3 haha">
                                    <a href="{{l.link}}"><img src="/media/{{l.bg}}" style="width: 100px; height: 100px; object-fit: cover;"></a>
                                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                        <div class="mb-1" style="font-size: 13px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h6 m-0" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="col-lg-6">
                                {% for l in left1 %}
                                <div class="position-relative mb-3 haha">
                                    <a href="{{l.link}}"><img class="img-fluid w-100" src="/media/{{l.bg}}" style="object-fit: cover;"></a>
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h4" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <p class="m-0">{{l.description}}</p>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                {% for l in left2 %}
                                <div class="d-flex mb-3 haha">
                                    <a href="{{l.link}}"><img src="/media/{{l.bg}}" style="width: 100px; height: 100px; object-fit: cover;"></a>
                                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                        <div class="mb-1" style="font-size: 13px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h6 m-0" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="mb-3 pb-3">
                            <a href="{% url 'hotel' %}"><img class="img-fluid w-100" src="{% static 'img/decor/dulich.jpg' %}" alt=""></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                    <h3 class="m-0 h3">Bài viết gần đây</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {% for l in left1 %}
                                <div class="position-relative mb-3 haha">
                                    <a href="{{l.link}}"><img class="img-fluid w-100" src="/media/{{l.bg}}" style="object-fit: cover;"></a>
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h4" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <p class="m-0">{{l.description}}</p>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                {% for l in left2 %}
                                <div class="d-flex mb-3 haha">
                                    <a href="{{l.link}}"><img src="/media/{{l.bg}}" style="width: 100px; height: 100px; object-fit: cover;"></a>
                                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                        <div class="mb-1" style="font-size: 13px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h6 m-0" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                {% for l in right1 %}
                                <div class="position-relative mb-3 haha">
                                    <a href="{{l.link}}"><img class="img-fluid w-100" src="/media/{{l.bg}}" style="object-fit: cover;"></a>
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h4" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <p class="m-0">{{l.description}}</p>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                                {% for l in right2 %}
                                <div class="d-flex mb-3 haha">
                                    <a href="{{l.link}}"><img src="/media/{{l.bg}}" style="width: 100px; height: 100px; object-fit: cover;"></a>
                                    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                        <div class="mb-1" style="font-size: 13px;">
                                            <span>{{l.date}}</span>
                                        </div>
                                        <a class="h6 m-0" href="{{l.link}}">{{l.camnang_name}}</a>
                                        <div class="mb-2" style="font-size: 14px;">
                                            <span>
                                                <i class="far fa-eye"></i>
                                                <span id="view">{{l.view}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 pt-3 pt-lg-0">
                        <!-- Popular News Start -->
                        <div class="pb-3">
                            <div class="bg-light py-2 px-4 mb-3">
                                <h3 class="m-0 h3">Nổi bật</h3>
                            </div>
                            {% for item in oli %}
                            <div class="d-flex mb-3 haha">
                                <a href="{{item.link}}"><img src="/media/{{item.bg}}" style="width: 100px; height: 100px; object-fit: cover;"></a>
                                <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                    <div class="mb-1" style="font-size: 13px;">
                                        <span>{{item.date}}</span>
                                    </div>
                                    <a class="h6 m-0" href="{{item.link}}">{{item.camnang_name}}</a>
                                    <div class="mb-2" style="font-size: 14px;">
                                        <span>
                                            <i class="far fa-eye"></i>
                                            <span id="view">{{item.view}}</span> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Popular News End -->
    
                        <!-- Tags Start -->
                        <div class="pb-3">
                            <div class="bg-light py-2 px-4 mb-3">
                                <h3 class="m-0 h3">Từ khóa</h3>
                            </div>
                            <div class="d-flex flex-wrap m-n1">
                                <a href="{% url 'cn_detail' %}" class="btn1 btn-sm btn-outline-secondary m-1">Cẩm nang</a>
                                <a href="{% url 'cn_detail' %}" class="btn1 btn-sm btn-outline-secondary m-1">Du lịch</a>
                                <a href="{% url 'cn_dalat' %}" class="btn1 btn-sm btn-outline-secondary m-1">Đà Lạt</a>
                                <a href="{% url 'hotel' %}" class="btn1 btn-sm btn-outline-secondary m-1">Khách Sạn</a>
                                <a href="{% url 'cn_detail' %}" class="btn1 btn-sm btn-outline-secondary m-1">Đi phượt</a>
                                <a href="{% url 'cn_vungtau' %}" class="btn1 btn-sm btn-outline-secondary m-1">Vũng Tàu</a>
                                <a href="{% url 'cn_detail' %}" class="btn1 btn-sm btn-outline-secondary m-1">Kinh nghiệm du lịch</a>
                                <a href="{% url 'cn_detail' %}" class="btn1 btn-sm btn-outline-secondary m-1">Đi chơi</a>
                                <a href="{% url 'cn_detail' %}" class="btn1 btn-sm btn-outline-secondary m-1">Tham quan</a>
                                <a href="{% url 'hotel' %}" class="btn1 btn-sm btn-outline-secondary m-1">Chỗ ở</a>
                                <a href="{% url 'weather' %}" class="btn1 btn-sm btn-outline-secondary m-1">Thời tiết</a>
                                <a href="{% url 'hotel' %}" class="btn1 btn-sm btn-outline-secondary m-1">Nhà nghỉ</a>
                                <button onclick="deadlines()" class="btn1 btn-sm btn-outline-secondary m-1" style="cursor: pointer; outline: none">Deadline</button>
                                <script>function deadlines() {alert("NAPUN có sẵn khăn giấy đây. KHÓC ĐIIII :))");}</script>
                            </div>
                        </div>
                        <!-- Tags End -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-3">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                    <h3 class="m-0 h3 orange">Khám phá Việt Nam</h3>
                </div>
                <div class="position-relative">
                    <iframe width="100%" height="600px" src="https://www.youtube.com/embed/Au6LqK1UH8g" allowfullscreen></iframe>
                </div>
            </div>
        </div>
{% endblock %}
    